body{
    background-image: linear-gradient(to bottom, #377be8, #5a98fc);
    background-size: cover;
    
}

.container{display:grid;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    padding-left: 2em;
    padding-right: 1.5em;
    grid-template-columns: repeat(autofill,minmax(250px, 1fr));
    grid-template-row: repeat(6, auto);
   
    grid-template-areas: "t  t"
                        "buttons buttons"
                         "c text"
                         "c text"
                         "c text"
                         ". f ";
   grid-gap:2em;
    
}


@media screen and (max-width:750px){
    .container{
        grid-template-areas: "t t" "buttons buttons" "text text" "c c" "f f";
    }

    .boxy{
        height:3rem; width: 3rem;
    }

    .content{
        grid-area: c;
        border: 3px solid white;
        background-color: antiquewhite; 
        height: 25rem;
        width: 20rem;
        
    }
}

.content{
    grid-area: c;
    border: 3px solid white;
    background-color: antiquewhite; 
    height: 23em;
    width: 32em;
    
}

.buttons{
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex:1;
}

.t {
    grid-area: t;
    display: flex;
    justify-content:center;
    align-content:center;
}

.box{
    background-color: gray;
    height: 10rem;
    width: 10rem;
    float:none;
    overflow: hidden;
}
.newBox{
    background: navajowhite;
    height: 5em;
    width:5em;
    overflow: hidden;
}



.text{
    grid-area: text;
    
}
.boxy{
    border: 2px solid sienna;
    background-color: sandybrown;
    height:15rem;
    width: 20rem;
    justify-self: center;
    align-self: center;
}

button{
    font-size: 1.25em;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    

}
.reset{ 
    font-size: 1.25em;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    background-color: coral;
}


.f{
    grid-area:f;
    font-size: 2em;
    color: black;
}

p{
    padding: 0.5em 0.5em 0.5em 0.5em;
}